/*cuponero*/
.announcement-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--verde-hb);
    border: 1px solid #ccc;
    overflow: hidden;
}

.announcement-title {
    font-size: var(--font-size-title-hb) !important;
    font-weight: var(--font-weight-title-hb) !important;
    margin-bottom: 15px;
    color: var(--azul-hb);
    font-family: var(--font-family-hb) !important;
}

.announcement-text {
    font-size: var(--font-size-text-hb);
    margin-bottom: 15px;
    color: var(--color-letra-hb);
}

.announcement-button {
    background-color: var(--amarillo-hb);
    border-color: var(--verde-hb);
    color: var(--color-letra-hb);
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

/*vendedor*/
.vendor-announcement-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--verde-hb);
    border: 1px solid #ccc;
    overflow: hidden;
}

.vendor-announcement-title {
    font-size: var(--font-size-title-hb) !important;
    font-weight: var(--font-weight-title-hb) !important;
    margin-bottom: 15px;
    color: var(--azul-hb);
    font-family: var(--font-family-hb) !important;
}

.vendor-announcement-text {
    font-size: var(--font-size-text-hb);
    margin-bottom: 15px;
    color: var(--color-letra-hb);
}

.vendor-announcement-button {
    background-color: var(--amarillo-hb);
    border-color: var(--verde-hb);
    color: var(--color-letra-hb);
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
}



.imagen-reciclando-hb img{
    max-width: 500px;
}
