@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}
 
 @font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}
 
 @font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

.container-map {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    z-index: 4;
    padding-top: 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.container-cmap {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%; /* Usar el 100% del viewport height */
    z-index: 5;
    padding-top: 0%;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.formulario-cmap {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 2% 2% 2% 2%;
    border-radius: 50px;
    width: 50%;
    height: auto; /* Ajustar altura automáticamente */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 1%;
    margin-bottom: 2%;
}

.titulo {
    text-align: center; 
    color:#0088ff;
    font-size: 35px;
}

.formulario-cmap p{
    padding-bottom: -5%;
}

@media only screen and (max-width: 1000px) {
    .formulario-cmap {
        border-radius: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .formulario-cmap {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .formulario-cmap {
        width: 90%;
        border-radius: 10px;
    }
}