@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 50%; /* Ancho máximo del contenido */
    text-align: center; /* Centra el contenido */
    height: 100%;
    flex-direction: column;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lg-container{
    display: flex;
    height: 20%;
    align-content: flex-end;
}

.content .logo {
    width: 370px;
}

.desc-container{
    height: 15%;
}

.content .descuento{
    width: 350px;
}

.btnes-container {
    display: flex; 
    justify-content: space-around;
    height: 40%;
    width: 100%;
}

.btn-container {
    width: 27vh;
    height: 100%;
}

.btn-soy{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.div-circulo{
    height: 60%;
}

.btn-circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #f6e901;
    padding: 25% 25% 25% 25%;
}

.btn-circulo img {
    max-width: 100%; /* La imagen no debe exceder el ancho del botón */
    max-height: 100%; /* La imagen no debe exceder la altura del botón */
    width: auto; /* La imagen se ajustará automáticamente al ancho del botón */
    height: auto; /* La imagen se ajustará automáticamente a la altura del botón */
}

.soy h2 {
    font-family: "Montserrat Regular";
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 1px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 3%;
    margin-top: 5%;
    font-size: 20px;
}

.rgt-container {
    height: 15%;
    display: flex;
    align-content: flex-end;
}

.registro {
    font-family: 'Montserrat Regular';
    color: white;
    font-size: 25px;
}

.rds-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.redes img {
    width: 7.5vh; /* Tamaño de las imágenes de redes sociales */
    margin-bottom: 2%;
}

@media only screen and (max-width: 706px) {
    .content { 
        width: 100%;
    }

    /* .btnes-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .btn-container {
        display: flex;
        width: 100%;
        height: 50%;
    }

    .btn-soy {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }

    .div-circulo{
        height: 100%;
        width: 50%;
    }

    .soy{
        height: 100%;
        width: 50%;
    }


    .btn-circulo{
        width: 120px;
        height: 120px;
        margin-top:-10px;
    }

    .soy h2{
        margin-top: 0;
    }

    .btn-circulo{
        margin-top: 0;
    } */
}