@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
 }
 
 @font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
 }
 
 @font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

.fila-lanz {
    padding-top: 5%;
}

#countdown {
    font-weight: bold;
    color: #f9ec00;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.countdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-weight: bold;
}

.countdown-label {
    font-size: 1.5vw;
    font-weight: bold;
}

.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f9ec00;
    color: black;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    margin: 3% 3% 3% 3%
}

#pie {
    text-align: center;
}
 
.winwin-lanz{
    width: 40%;
    position:fixed;
    top: 80px;
    right: -6%;
    animation-duration: 3s;
    animation-name: slidein2;
    z-index: 200;
}

.cuponik-lanz{
    width: 30%;
    position:fixed;
    top: 15%;
    right: -8%;
    animation-duration: 3s;
    animation-name: slidein2;
    z-index: 200;
}

.face {
    width:10%;
    animation-duration: 2s;
    animation-name: slidein;
}
    
.insta {
    width:10%;
    animation-duration: 2.5s;
    animation-name: slidein;
}
    
.wsap {
    width:10%;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: -100%;
    }
  
    to {
      margin-left: -2%;
    }
}

@media only screen and (max-width: 767px){}