.map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5; /* Mueve el mapa al fondo */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 200, 250, 0.8); /* Color transparente */
    z-index: -4; /* Coloca el overlay encima del mapa */
}