#winwin {
   position: fixed;
   z-index: -3;
   width: 100%;
   left: 0%;
   top:0;
}

.form-registro-cuponero {
   margin-top: -5%;
}

.fila-rc {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.col-rc {
   width: 49%;
}

#registro-google, #registro-facebook {
   display: flex;
   align-items: center;
   background-color: white; 
   border: solid 1px gray; 
   color: black;
}

#registro-google{
   margin-bottom: 1%;
}

#registro-google img, #registro-facebook img {
   width: 5%;
}

#registro-google p, #registro-facebook p{
   margin-bottom: -1%; 
   margin-left: 3%;
}

.btnFacebook {
   background-color: #4267B2;
   color: white;
   border: none;
   padding: 10px 15px;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.btnFacebook .fa-facebook {
   margin-right: 10px;
}

@media only screen and (max-width: 750px) {
   #winwin {
      position:relative;
      z-index: 5;
      margin-top: 0%;
   }
}

/* Iniciar Sesion */
.fila-sg {
   display: flex;
   padding-left: 10px !important;
   padding-right: 10px !important;
}

.formulario-sg {
   margin-top: 1%;
}