@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

.row-rv {
    width: 80%;
}

.container-rv {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.overlay-rv {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.85); /* Color transparente */
    z-index: 1; /* Coloca el overlay encima del mapa */
    overflow: hidden;
}

.bottom-image-rv {
    position: fixed; /* Mantenemos la imagen de fondo fija */
    z-index: -5;
    width: 100%;
    height: auto; /* Altura automática para ajustarse al contenido */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Evitar el scroll infinito */
}

.cuponik-tall {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cuponik-wide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 60px;
}

.col-rv {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo-rv {
    font-size: 40px;
    color: #0088ff;
}

.text-rv {
    font-weight: 600;
}

#storeRegistrationForm {
    margin-top: 20px;
    width: 100%;
}

.eye-icon-container {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .row-1-home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    } 

    .row-1-home .col-rv{
        width: 100%;
    }
}
