@font-face {
   font-family: "Montserrat Regular";
   src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
   font-family: "Protest Riot Regular";
   src: url("../assets/ProtestRiot-Regular.ttf");
}

@font-face {
   font-family: "Montserrat SemiBold";
   src: url("../assets/Montserrat-SemiBold.ttf");
}

#winwin1 {
   position: fixed;
   z-index: -3;
   top:20%;
   right: -4%;
}

#winwin2 {
   position: fixed;
   z-index: -1;
   left: 0%;
   top:20%;
}

form {
   margin-top: -5%;
}

.fila-rc {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.col-rc {
   width: 49%;
}

#registro-google, #registro-facebook {
    display: flex;
    align-items: center;
    background-color: white; 
    border: solid 1px gray; 
    color: black;
}

#registro-google{
   margin-bottom: 1%;
}

#registro-google img, #registro-facebook img {
    width: 5%;
}

#registro-google p, #registro-facebook p{
    margin-bottom: -1%; 
    margin-left: 3%;
}

@media only screen and (max-height: 554px) {
   
}

@media only screen and (max-width: 530px) {
   
}

/* Iniciar Sesion */
.fila-sg {
   display: flex;
   
}

.formulario-sg {
   margin-top: 1%;
}