@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

/* NavVendedor */

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}

.row {
    padding-left: 0%;
    padding-right: 0%;
}

.container-sidebar{
    display:flex;
}
.content-sidebar{
    width: 100%;
}
.sidebar-v{
    background: #0088ff;
    color: #f9ec00;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo-sidebar{
    width: 130px;
    animation: slideLogoFromLeft 0.5s ease-in-out;
    transform: translateY(0%);
}

@keyframes slideLogoFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0;
    padding-left: 0%;
}
.sidebar-link{
    display: flex;
    color: #f9ec00;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.sidebar-link:hover{
    background:#f9ec00;
    color: #000;
    transition: all 0.5s;
}
.sidebar-link.active {
    background-color: #e31d93;
    color: #fff;
}
.icon-sidebar, .sidebar-link_text{
    font-size: 17px;
}

/*NavVendedorMobile */

.sidebar-nav-mobile {
    background-color: #0088ff;
}


/* Registro Completo Vendedor */
.cuponik-saludo {
    margin: 2% 0% 0% -15%;
    width: 50vw;
}

.row-titulo-v {
    background: linear-gradient(70deg, transparent  50%, rgb(249, 236, 0) 55%);
    margin-top: 0;
    height: auto;
}

.col-cuponik-v {
    display: flex;
    align-items: flex-end;
}

.col-titulo-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titulo-v{
    width: 100%;
}

.titulo-v{
    font-size: 5vw;
}

.scroll-btn {
    border: none;
    background-color: transparent;
    cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    color: #e31d93;
    font-size: 2rem;
    font-weight: 10rem;
}

.formulario-vendedor {
    background-color: #e31d93;
    color:white;
    font-weight:500;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 5vw 5vw 3vw 5vw;
    border-radius: 10px;
}

.content-form2-rcv{
    padding: 3%;
    margin-top: 1rem;
}
/*horario*/
.horario-selector-rcv{
    margin: 3%;
    background-color: #fff;
    color: #000;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

}

.contenedor-dias-hs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-dia-hs {
    margin-top: 0.4rem;
}

.container-hd .list-group{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/*rededs sociales*/
.row-social-rvc{
    display: flex;
    align-items: center;
}

.icon-rvc{
    font-size: 30px;
}

.searchWrapper {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.chip {
    background: #0088ff;
}

.optionListContainer {
    color: #000;
}

/* Fin CSS Registro Completo */

/* Home ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*countdown*/

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.container-cd {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
}

.countdown-container-slideIn {
    position: relative;
    top: 20%;
    transform: translateY(0%);
    width: 80vw; /* Ajusta el ancho según sea necesario */
    height: auto;
    background-color: #e31d93;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInFromRight 1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

#countdown {
    width: 80vw;
}

.countdown-text {
    margin-top: 10px;
    font-size: 25px;
    color: #f9ec00;
    font-family: "Protest Riot";
}

.cuponik-cd-hv {
    padding-bottom: 0;
}

/*mapa*/
.sidebar-map-container {
    display: flex;
    position: relative;
    height: 80vh; 
    width: 90%;
    margin: 0 auto; 
    margin-top: 5%;
}

.sidebar-map {
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 10px;
    transition: transform 0.3s ease;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar-map.hidden {
    transform: translateX(-100%);
    visibility: hidden;
}

.sidebar-map.visible {
    transform: translateX(0);
}

.map-wrapper {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.list-group-item {
    cursor: pointer;
}

/* Estilos para los controles de zoom personalizados */
.zoom-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.zoom-controls .btn {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 800;
}

/* Fin CSS Home */

/* perfil-vista previa ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-portada-ven {
    width: 100%;
    height: 40%;
}

.container-logo-ven {
    width: 20%; 
    height: 20%
}

.img-perfil-v{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.container-cupones-previa {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

.cupones-previa {
    display: flex;
    align-items: center;
}

/* Vista Previa spruk */

.card.custom-card {
    border-radius: .688rem;
    border: 0;
    background-color: var(#fff);
    box-shadow: 0 10px 30px 0 var(rgba( 98,89,202 , 0.05));
    position: relative;
    margin-block-end: 1.25rem;
    width: 100%;
}

.card-body {
    padding: 1.563rem;
}

.profile-cover__img {
    position: absolute;
    inset-inline-start: 50px;
    inset-block-start: 170px;
    text-align: center;
    z-index: 1;
}

.profile-cover__img>img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile-cover__img>img+h3 {
    margin-block-start: 6px;
}

.profile-cover__img>h3 {
    color: var(#1d212f);
    font-size: 25px;
    line-height: 30px;
}

.profile-cover__img h3 {
    font-family: "Protest Riot Regular";
}

.btn-profile {
    position: absolute;
    inset-inline-end: 50px;
    inset-block-start: 180px;
}

.profile-cover__action {
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    max-height: 230px;
}

.profile-cover__action img{
    width: 100%;
    height: 100%;
}

.profile-cover__info {
    background-color: #fff;
}

.profile-cover__info .nav li {
    margin-block-start: 13px;
    margin-block-end: 13px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.profile-cover__info .nav li:not(:first-child) {
    margin-inline-start: 30px;
    padding-inline-start: 30px;
    border-inline-start: 1px solid var(#e8e8f7);
}

.profile-cover__info .nav strong {
    display: block;
    margin-block-end: 10px;
    font-size: 29px;
    color: #0088ff;
}

.profile-nav-line {
    background-color: #eaedf7;
    border-radius: 4px;
}

.profile-tab.tab-menu-heading .profile-nav-line {
    background-color: #f9ec00;
    border-radius: 4px;
}

.profile-tab .main-nav-line .nav-link {
    font-weight: 500;
    padding: 1rem;
}


@media (min-width: 601px) {
    .profile-cover__info .nav {
        margin-inline-end: 28px;
        padding-block-start: 15px;
        padding-inline-end: 0;
        padding-block-end: 10px;
        padding-inline-start: 170px;
        color: #999;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        justify-content: flex-end;
    }
}

.upload-button-camera {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #0088ff;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.upload-button-plus {
    position: absolute;
    bottom: 80px;
    right: 0px;
    cursor: pointer;
    color: #fff;
    background-color: #0088ff;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}

/*vista-previa*/
.main-content-label {
    font-weight: 800;
    font-size: 14px;
    margin-block-end: 0;
    line-height: 1;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    margin-block-end: 10px;
    letter-spacing: .2px;
}

.main-profile-contact-list .media, .main-profile-social-list .media, .horarios .media{
    display: flex;
    align-items: center;
}

.text-primary, .text-info {
    color: #0088ff;
    opacity: 1;
}

.bg-primary-transparent, .bg-info-transparent {
    background-color: rgba(98, 89, 202, 0.1);
}

.media-icon, .media-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: #fff;
    font-size: 18px;
    position: relative;
    inset-block-start: 2px;
    border-radius: 100%;
    background-color: #f9ec00;
}

.main-profile-contact-list .media-body, .main-profile-social-list .media-body, .horarios .media-body {
    margin-inline-start: 25px;
    flex: 1;
}

.main-profile-contact-list .media-body span, .main-profile-social-list .media-body span, .horarios .media-body span {
    font-size: 15px;
    color: #000000;
    display: block;
    line-height: 1.3;
}

.main-profile-contact-list .media-body div, .main-profile-social-list .media-body a, .horarios .media-body p  {
    font-weight: 500;
    color: #8f9cc0;
}

.completar-registro-social .main-profile-social-list .media-body a {
    color: #ffffff;
}

/* Fin CSS perfil-vista previa */

/* Editar Perfil ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-editar-perfil{
    padding:1%;
}

/* Fin CSS Editar Perfil */

/* Editar Cupones ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-cupones-editar {
    width: 100%;
}

/* Fin CSS Editar Cupones */

/* Mis Cupones ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-mis-cupones {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3%;
    /* background-color: rgb( 234,237,247 ); */
}

.container-mis-cupones-lista {
    width: 80%;
}

.card {
    --bs-card-border-width: none;
}
/* Fin CSS Mis Cupones */

/* Pagos ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-pagos {
    display: flex;
    /* background-color: rgb( 234,237,247 ); */
    background-color: rgb( 234,237,247 );
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    padding: 30px;
} 

.col-cuponik-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.container-cuponik-planes {
    display: flex;
    align-items: center;
    /* padding: 20px 25px 20px 25px; */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* background-color: #f9ec00;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);*/ 
}

.cuponik-planes {
    width:100%;
    height: 100%;
    max-height: 100%;
}

.precio-pagos {
    background-color:#0088ff ;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    font-weight:bold;
    margin-bottom: 20px;
    margin-top: 20%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Protest Riot';
    color: #f9ec00;
    text-align: center;
}

.col-miplan {
    /* margin-top: 15px;
    margin-bottom: 15px; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    /* margin-left: 50px;
    margin-top: 30px; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.titulo-miplan {
    font-size: 50px;
    margin-bottom: 1rem;
    background-color: #0088ff;
    color: #f9ec00;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
    border-bottom: 2px solid #f9ec00;
}

.nav-link:hover {
    border-bottom: 2px solid #0088ff;
}

.profile-nav-line .active {
    background-color: #0088ff;
    color: #fff;
    border-bottom: 2px solid #0088ff;
}

/* Fin CSS Pagos */

/* Pagos Cambiar Plan ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; /* Ajusta el espacio entre los elementos según sea necesario */
    width: 100%;
}

.flex-item {
    flex: 1 1 calc(25% - 1rem); /* 4 columnas en pantallas grandes */
    /*max-height: calc(100vh - 100px);*/
    overflow: hidden;
    display: flex;
    transition: background-color 0.3s ease;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: #5e5e5e41 1px solid;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    .flex-item {
        flex: 1 1 calc(50% - 1rem); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 767px) {
    .flex-item {
        flex: 1 1 calc(100% - 1rem); /* 1 columna en pantallas muy pequeñas */
    }
}

.full-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.current-plan {
    /* background-color: #ffeb3b; Color de fondo para el plan actual */
    background-color: #e31d94a8;
    border-radius: 10px;
    border:none;
}

.miplan {
    max-width: 100%;
    overflow: hidden;
}

.btnes-info-planes {
    width: 100%;
}

.container-plan{
    max-width: 300px;
    min-width: 250px;
}

/* Fin CSS Pagos Cambiar Plan*/

/* Formas de pago ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-formp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-descrip-formp {
    width: 100%;
}

.content-formp {
    width: 80%;
    align-items: center;
    margin-top: 50px;
}

.row-formp {
    margin-bottom: 20px;
}

.row-formp.btn-rosa {
    background-color: #fff;
    border:#e31d93 2px solid;
    color: #000;
}

.row-formp.btn-azul {
    background-color: #fff;
    border:#0088ff 2px solid;
    color: #000;
}

.icon-formp {
    font-size: 5rem;
}
/* Fin CSS Formas de pago */

/* Cuentas Bancarias ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.row-formp.cuenta-bancaria {
    background-color: #fff;
    border:#0088ff 1px solid;
    color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Fin CSS Cuentas Bancarias */

/* Estadisticas ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*.custom-card*/

.card-order i {
    background: #0088ff33;
    color: #0088ff;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 21px;
}

.card-title.est {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
}

.card-title.est i {
    background: #e31d9434;
    color: #e31d93;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px; 
    margin-right: 10px;
    padding: 5px;
}

.grafico .card.custom-card {
    height: 95%;
    display: flex;
    justify-content: center;
}

.grafico .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafico .chart-container.doughnut-est{
    max-height: 400px;
}

.row-activity{
    overflow-y: auto;
}

/* Fin CSS Estadisticas */