/* NavVendedor */

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}

.row {
    padding-left: 0%;
    padding-right: 0%;
}

.container-sidebar{
    display:flex;
}
.content-sidebar{
    width: 100%;
}
.sidebar{
    background: #0088ff;
    color: #f9ec00;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo-sidebar{
    width: 130px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0;
    padding-left: 0%;
}
.sidebar-link{
    display: flex;
    color: #f9ec00;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.sidebar-link:hover{
    background:#e31d93;
    color: #fff;
    transition: all 0.5s;
}
.sidebar-link:active{
    background: lightskyblue;
    color: #000;
}
.icon-sidebar, .sidebar-link_text{
    font-size: 20px;
}


/* Registro Completo Vendedor */
.cuponik-saludo {
    margin: 2% 0% 0% -15%;
    width: 50vw;
}

.row-titulo-v {
    background: linear-gradient(70deg, transparent  50%, rgb(249, 236, 0) 55%);
    margin-top: 0;
    height: auto;
}

.col-cuponik-v {
    display: flex;
    align-items: flex-end;
}

.col-titulo-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titulo-v{
    width: 100%;
}

.titulo-v{
    font-size: 5vw;
}

.scroll-btn {
    border: none;
    background-color: transparent;
    cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    color: #e31d93;
    font-size: 2rem;
    font-weight: 10rem;
}

.formulario-vendedor {
    background-color: #e31d93;
    color:white;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 5vw 5vw 3vw 5vw;
    border-radius: 10px;
}

.row-social-rvc{
    display: flex;
    align-items: center;
}

.icon-rvc{
    font-size: 30px;
}

.searchWrapper {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.chip {
    background: #0088ff;
}

.optionListContainer {
    color: #000;
}

/* Fin CSS Registro Completo */

/* perfil-vista previa ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-portada-ven {
    width: 100%;
    height: 40%;
}

.container-logo-ven {
    width: 20%; 
    height: 20%
}

.img-perfil-v{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.container-cupones-previa {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cupones-previa {
    width: 60%;
}
/* Fin CSS perfil-vista previa */

/* Editar Cupones ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-cupones-editar {
    width: 100%;
}

/* Fin CSS Editar Cupones */

/* Mis Cupones ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-mis-cupones {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.container-mis-cupones-lista {
    width: 80%;
}

/* Fin CSS Mis Cupones */

/* Lista Cupones ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.cupon-container {
    border: #0088ff solid 1px;
}

.list-group-item {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.list-group-item+.list-group-item {
    border-top-width:thin; 
}
/* Fin CSS Lista Cupones */

/* Editar Perfil ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-editar-perfil{
    padding:5%;
}
