.cardAccount{
    border: 4px solid #0088ff;
    border-radius: 20px;
}
.cardTitulo{
    font-size: 40px !important;
}
.cardInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cardInfo p{
    font-size: 25px !important;
    font-weight: 600;
}
.cardInfo label{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.cardButtons{
    margin-top: 5%;
}

.profile-cuponero img {
    max-width: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.perfil-button-plus {
    position: relative !important;
    margin-top: -50px !important;
    margin-right: -130px !important;
    width: 50px !important;
    height: 50px !important;
}