.tooltip,
.tooltip-inner,
.tiendas-tooltip{
  background-color: white!important;
  opacity: 1!important;
  color: black!important;
}

.tooltip{
  min-width: 300px;
  border-radius: 0.5rem;
  box-shadow: 5px 7px 10px 3px rgb(0,0,0,0.2);
}

.tooltip-inner{
  min-width: 100%;
  width: 100%;
  padding: 8px 10px;
}

.tiendas-tooltip-desc{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Ajusta esto según el tamaño de la fuente */
  max-height: 2.4em; /* line-height * 2 */
}
.list-group-item{
  transition: all .3s;
}

.list-group-item:hover{
  background: #c3e3ff;
}