.img-cupon-cp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0088ff;
    height: 80vh;
}

.descuento-cp {
    background-color: #e31d93;
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
}
.cuponH4{
    margin-top: 5%;
    margin-bottom: 3%;
}