.itemMobile{
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
    color: #f9ec00;
    font-weight: 600;
    font-size: 20px;
}
.itemMobile:hover{
    background-color: #e31d93;
    color: #fff;
}
.itemMobile:focus{
    background-color: #e31d93;
}
.itemMobile:active{
    background-color: #e31d93;
}
.itemMobile:focus-within{
    background-color: #e31d93;
}
.logoMobile{
    width: 155px;
    height: 40px;
}

.btn-log img {
    height: 20px;
}

.barra-link-vendedor {
    width: 100%;
    height: auto;
    background-color: #f9ec00;
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
    font-size: 15px !important;
}

.barra-link-vendedor img {
    margin-right: 1%;
    height: 20px;
}

.barra-link-vendedor a {
    margin: 0.5% 1% 0.5% 1%;
    height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
