.itemMobile{
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
    color: #f9ec00;
    font-weight: 600;
    font-size: 20px;
}
.itemMobile:hover{
    background-color: #e31d93;
    color: #fff;
}
.itemMobile:focus{
    background-color: #e31d93;
}
.itemMobile:active{
    background-color: #e31d93;
}
.itemMobile:focus-within{
    background-color: #e31d93;
}
.logoMobile{
    width: 155px;
    height: 40px;
}

.btn-log img {
    height: 20px;
}

.barra-link-vendedor {
    width: 100%;
    height: auto;
    background-color: #0088ff;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
    font-size: 15px !important;
    text-wrap: nowrap;
}

.barra-link-vendedor img {
    margin-right: 1%;
    height: 20px;
}

.barra-link-vendedor a {
    margin: 0.5% 1% 0.5% 1%;
    height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hb {
    background-color: transparent;
    color: var(--color-letra-hb);
    border-radius: 5px;
    width: auto;
}

.btn-hb:hover {
    background-color: var(--amarillo-hb);
    box-shadow: 0px 0px 10px 0px rgba(195, 255, 180, 0.801);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
}

.btn-hb:active {
    background-color: var(--amarillo-hb);
    box-shadow: 0px 0px 10px 0px rgba(195, 255, 180, 0.801);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
}

.btn-hb img{
    width: 200px;
}

.menu-nav {
    display: flex;
}

@media screen and (max-width:899px) {
    .menu-nav, .barra-link-vendedor, .btn-nav-hb {
        display: none;
    }
}

@media screen and (max-width:1199px) {
    .text-link-vendedor {
        display: none;
    }
}

.op-menu {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.language-switcher {
    position: relative;
    display: flex;
}

.current-language {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.flag-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item .flag-icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
