
.card-categorias{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-right: 1rem;
    padding: 1rem;
    margin-bottom: 15%;
}
.product--image{
    width: 100px;
}
.card-categorias h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 5%;
}

.react-multi-carousel-dot-list {
    position: relative;
}
