@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Montserrat Regular' !important;
    background-color: rgb( 234,237,247 ) !important;
}

a:link {
    text-decoration: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.titulo {
    font-family: "Protest Riot Regular";
}

#subtitulo{
    font-family: Montserrat SemiBold;
}

.form-control:focus, .form-check-input:focus, .form-select:focus{
    border-color: #e31d93;
    box-shadow: 0 0 0 0.25rem rgba(202, 38, 180, 0.25);
}

.form-check-input:checked{
    background-color: #e31d93;
    border-color: #e31d93;
}

.btn-amarillo, .btn-amarillo:hover, .btn-amarillo:first-child:active, .btn-amarillo:checked {
    color:black;
    background-color: #f9ec00;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    border-color: transparent;
}

.btn-amarillo:hover, .btn-azul:hover, .btn-rosa:hover, .btn-rosa:first-child:active{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-azul, .btn-azul:hover, .btn-azul:first-child:active, .btn-azul:checked {
    color:white;
    background-color: #0088ff;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    border-color: transparent;
}

.btn-rosa, .btn-rosa:hover, .btn-rosa:first-child:active, .btn-rosa:checked {
    font-weight: bold;
    color:white;
    background-color: #e31d93;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    border-color: transparent;
}

/* Iniciar Sesion */
/* .container-sesion {
    display: flex;
    align-items: center;
    background-color: #0088ff; 
    width: 100%;
} */