/* Registro Completo Vendedor */
.cuponik-saludo {
    margin: 2% 0% 0% -15%;
    width: 50vw;
}

.row-titulo-v {
    background: linear-gradient(70deg, transparent  50%, rgb(249, 236, 0) 55%);
}

.col-cuponik-v {
    display: flex;
    align-items: flex-end;
}

.col-titulo-v {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-titulo-v{
    width: 100%;
}

.titulo-v{
    font-size: 3rem;
}

.text-v {
    font-size: 1.1rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.subtitulo-v {
    font-size: 0.9rem;
}

.boton-flecha-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 767px){
    .cuponikBanner{
        flex-direction: column;
    }
}


.scroll-btn {
    border: none;
    background-color: transparent;
    cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    color: #e31d93;
    font-size: 2rem;
    font-weight: 10rem;
}

.formulario-vendedor {
    background-color: #e31d93;
    color:white;
    font-weight:500;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 5vw 5vw 3vw 5vw;
    border-radius: 10px;
}

.titulo-form-rcv {
    background-color: #0088ff;
    padding: 1rem;
    color: #f9ec00;
    border-radius: 10px;
}

.content-form2-rcv{
    padding: 3%;
    margin-top: 1rem;
}

@media screen and (max-width: 767px){
    .cuponikBanner{
        flex-direction: column-reverse;
    }
    .row-titulo-v {
        background: linear-gradient(180deg, transparent  50%, transparent 55%);;
        margin-top: 0;
        height: auto;
    }
    .col-titulo-v {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
    .col-cuponik-v {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: rgb(249, 236, 0);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .formulario-vendedor {
        background-color: #e31d93;
        color:white;
        font-weight:500;
        margin-top: 5vh;
        margin-bottom: 15vh;
        padding: 5vw 5vw 3vw 5vw;
        border-radius: 10px;
    }
}

/*horario*/
.horario-selector-rcv{
    margin: 3%;
    background-color: #fff;
    color: #000;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

}

.contenedor-dias-hs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-dia-hs {
    margin-top: 0.4rem;
}

.list-group-item:hover {
    background: #fff;
}

.btnes-horsel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*rededs sociales*/
.row-social-rvc{
    display: flex;
    align-items: center;
}

.icon-rvc{
    font-size: 30px;
}

.searchWrapper {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.chip {
    background: #0088ff;
}

.optionListContainer {
    color: #000;
}

/* Fin CSS Registro Completo */